# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# source insight files
semver.IAB
semver.IAD
semver.IMB
semver.IMD
semver.PFI
semver.PO
semver.PR
semver.PRI
semver.WK3
semver.PS
semver.SearchResults
Semver.si4project

# work folders
objs/
output/

# Klocwork project
.kwlp
.kwps
runkw.bat
