[project]
	description = SemVer is a Utility to Bump Semantic Version String in C header, java, and text file.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hyller (hyller)
[access "refs/for/refs/*"]
	read = group user/hyller (hyller)
	push = group user/hyller (hyller)
	label-Code-Review = -2..+2 group user/hyller (hyller)
	label-Verified = -1..+1 group user/hyller (hyller)
	rebase = group user/hyller (hyller)
	removeReviewer = group user/hyller (hyller)
	submit = group user/hyller (hyller)
[access "refs/heads/*"]
	read = group user/hyller (hyller)
	create = group user/hyller (hyller)
	push = +force group user/hyller (hyller)
	pushMerge = group user/hyller (hyller)
[access "refs/tags/*"]
	push = group user/hyller (hyller)
	push = +force group user/hyller (hyller)
